
body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    margin: 15px;
    padding: 10px;
    
}

header, div, footer{
    border: 1px solid black;
    width: auto;
    height: 100px;
    padding: 25px;
    display: flex;
    align-items: center;
}

header {
    background-color: lightskyblue;
}
.hero {
    background-color: red;
}
.Content {
    background-color: green;
}
.Sidebar {
    background-color: purple;
}

footer {
    background-color: grey;
}
